.inputField-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
}
.load-button {
  height: 100%;
  white-space: nowrap;
  margin-left: 1em !important;
}

.issues-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 3em 1em;
}
.backlog,
.in-progress,
.completed {
  width: 33.33%;
  padding: 1em;
}

.issue-card {
  background: #fff;
  padding: 0.7em 0.5em;
  margin: 0.5em 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}

.issue-card span {
  font-weight: 400;
}
