* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #fffefe;
  padding: 5em;
}

.main-wrapper {
  flex-grow: 1;
  padding: 40px;
}

.breadcrumb {
  padding: 1em 0;
}

.breadcrumb-link {
  color: #398def;
  font-weight: 500;
}
.App-header{
  text-align: center;
}
